.about_page {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/media/images/container_image.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;

    .about_content_wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--f-medium);
        position: relative;
        z-index: 1;


        .about_head {
            width: 100%;
            height: 90vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: url('https://sun9-13.userapi.com/impg/z17V7wi8F_0ysc0dCXrqVojbHaaa40miHQNpYQ/fl4z2GDEh5A.jpg?size=2560x1707&quality=95&sign=09e75a180c10b5b21d2ecfb5facb569f&type=album');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;


            .about_div {
                background: var(--gray);

                .about_title {
                    max-width: 1140px;
                    text-align: center;
                    padding: 50px;
                    line-height: 1.2;

                    .container_title_num {
                        width: 100%;
                        font-family: var(--f-bold);
                        color: var(--white);
                        padding: 0 0 20px 0;
                        font-size: 36px;
                    }

                    .container_text_num {
                        width: 100%;
                        color: var(--white);
                        font-size: 20px;


                    }
                }

                .animated_numbers_wrapper {
                    max-width: 1140px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .animated_num_wrap_inner {
                        width: 100%;
                        height: 100%;
                        padding: 0 50px 50px;
                        display: flex;
                        gap: 16px;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        .num_section {
                            height: 182px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            color: var(--white);
                            backdrop-filter: blur(5px);
                            text-align: center;
                            padding: 15px;
                            transition: all 0.5s ease;
                            border: 1px solid #fff;

                            .num_icon {

                                img {
                                    width: 50px;
                                    height: auto;
                                }
                            }

                            .count {


                                h1 {
                                    font-size: 50px;
                                    font-family: var(--f-bold);

                                }
                            }

                            .num_text {
                                width: 150px;

                                span {
                                    font-size: 11px;
                                }
                            }

                            &:hover {
                                background: #0000008c;
                            }
                        }
                    }
                }
            }
        }

        .about_slider_container {
            width: 1140px;
            height: 100%;
            padding-bottom: 25px;

            .container_title {
                color: var(--white);
                text-align: center;
                font-size: 36px;
                font-family: var(--f-bold);
                padding: 25px;
            }

            .about_slider_container_inner {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 35px;

                .flowers_slider {
                    display: flex;
                    flex-direction: row-reverse;

                    .slide_wrapper {
                        width: 60%;
                    }

                    .main_slogan_text {
                        width: 40%;
                        color: var(--white);
                        padding: 35px;
                        background: var(--gray);

                        h1 {
                            font-family: var(--f-bold);
                            font-size: 36px;
                            padding-bottom: 15px;
                        }

                        ul {
                            font-size: 20px;
                            font-family: var(--f-regular);
                            padding-bottom: 15px;
                            line-height: 1.5;


                            li {


                                a {
                                    color: var(--white);

                                    &:hover {
                                        color: var(--gold);
                                    }
                                }

                            }

                        }
                    }
                }

                .plants_slider {
                    display: flex;

                    .slide_wrapper {
                        width: 60%;
                    }

                    .main_slogan_text {
                        width: 40%;
                        color: var(--white);
                        padding: 35px;
                        background: var(--gray);

                        h1 {
                            font-family: var(--f-bold);
                            font-size: 36px;
                            padding-bottom: 15px;
                        }

                        ul {
                            font-size: 20px;
                            font-family: var(--f-regular);
                            padding-bottom: 15px;
                            line-height: 1.5;

                            li {
                                a {
                                    color: var(--white);

                                    &:hover {
                                        color: var(--gold);
                                    }
                                }

                            }

                        }
                    }
                }

                .accessories_slider {
                    display: flex;
                    flex-direction: row-reverse;

                    .slide_wrapper {
                        width: 60%;
                        height: 100%;
                    }

                    .main_slogan_text {
                        width: 40%;
                        color: var(--white);
                        padding: 35px;
                        background: var(--gray);

                        h1 {
                            font-family: var(--f-bold);
                            font-size: 36px;
                            padding-bottom: 15px;
                        }

                        ul {
                            font-size: 20px;
                            font-family: var(--f-regular);
                            padding-bottom: 15px;
                            line-height: 1.5;


                            li {


                                a {
                                    color: var(--white);

                                    &:hover {
                                        color: var(--gold);
                                    }
                                }

                            }

                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width : 768px) and (max-width : 1140px) {


        .about_content_wrapper {

            .about_head {

                .about_div {

                    .animated_numbers_wrapper {

                        .animated_num_wrap_inner {
                            justify-content: space-between;
                            padding: 0 50px 50px;


                            .num_section {
                                height: 150px;

                                padding: 10px;

                                .num_icon {

                                    img {
                                        width: 35px;
                                    }
                                }

                                .count {


                                    h1 {
                                        font-size: 36px;
                                    }
                                }

                                .num_text {
                                    width: 150px;
                                    height: auto;


                                    span {
                                        font-size: 11px;
                                    }
                                }

                            }
                        }
                    }
                }

            }

            .about_slider_container {
                max-width: 1140px;
                width: 100%;
                padding: 40px;

                .container_title {
                    text-align: center;
                    font-size: 36px;
                }

                .about_slider_container_inner {
                    width: 100%;


                    .flowers_slider {
                        display: flex;
                        flex-direction: row-reverse;

                        .slide_wrapper {
                            width: 60%;
                            height: 100%;
                        }

                        .main_slogan_text {
                            width: 40%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: end;

                            h1 {
                                font-size: 24px;
                            }

                            ul {
                                font-size: 20px;
                            }
                        }
                    }

                    .plants_slider {
                        display: flex;
                        flex-direction: row;

                        .slide_wrapper {
                            width: 60%;
                            height: 100%;
                        }

                        .main_slogan_text {
                            width: 40%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: start;

                            h1 {
                                font-size: 24px;
                            }

                            ul {
                                font-size: 20px;
                            }
                        }
                    }

                    .accessories_slider {
                        display: flex;
                        flex-direction: row-reverse;

                        .slide_wrapper {
                            width: 60%;
                            height: 100%;
                        }

                        .main_slogan_text {
                            width: 40%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: end;

                            h1 {
                                font-size: 24px;
                            }

                            ul {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

        }
    }

    @media screen and (max-width:767px) {

        .about_content_wrapper {

            .about_head {
                height: 100%;

                .about_div {

                    .about_title {
                        padding: 125px 16px 20px;

                        .container_title_num {
                            font-size: 36px;
                        }

                        .container_text_num {
                            font-size: 16px;
                        }
                    }
                }

                .animated_numbers_wrapper {
                    padding: 10px 16px 30px;

                    .animated_num_wrap_inner {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center !important;
                        gap: 20px !important;
                        align-items: center;
                        padding: 0 !important;

                        .num_section {
                            height: 140px !important;
                            padding: 10px !important;

                            .num_icon {

                                img {
                                    width: 30px !important;
                                }
                            }

                            .count {


                                h1 {
                                    font-size: 36px !important;
                                }
                            }

                            .num_text {
                                width: 130px !important;

                                span {}
                            }

                            &:hover {}
                        }
                    }


                }

            }

            .about_slider_container {
                width: 100%;
                padding: 16px;

                .container_title {
                    padding: 20px;
                }

                .about_slider_container_inner {

                    .flowers_slider {
                        display: flex;
                        flex-direction: column;
                        margin: 0;

                        .slide_wrapper {
                            width: 100%;
                            height: 100%;
                        }

                        .main_slogan_text {
                            width: 100%;
                            padding: 16px;
                            text-align: center;

                            h1 {
                                font-size: 24px;
                            }

                            p {
                                font-size: 20px;
                            }
                        }
                    }

                    .plants_slider {
                        display: flex;
                        flex-direction: column;
                        margin: 0;

                        .slide_wrapper {
                            width: 100%;
                            height: 100%;
                        }

                        .main_slogan_text {
                            width: 100%;
                            padding: 16px;
                            text-align: center;

                            h1 {
                                font-size: 24px;
                            }

                            p {
                                font-size: 14px;
                            }
                        }
                    }

                    .accessories_slider {
                        display: flex;
                        flex-direction: column;
                        margin: 0;

                        .slide_wrapper {
                            width: 100%;
                            height: 100%;
                        }

                        .main_slogan_text {
                            width: 100%;
                            padding: 16px;
                            text-align: center;

                            h1 {
                                font-size: 24px;
                            }

                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}