.button__wrapper {
    position: relative;
    white-space: nowrap;
}

.back-btn__wrapper {
    button {
        svg {
            transform: rotate(180deg);
        }
    }
}

.btn {
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 8px 20px;
    background: transparent;
    border-radius: 0;
    outline: none;
    font-family: var(--f-medium);
    font-size: 20px;
    gap: 12px;
    height: 52px;
    transition: all var(--btn-transition);

    svg {
        width: 20px;
        height: 23px;

        path {
            transition: all var(--btn-transition);
        }
    }

    &:active {
        transform: scale(.97);
    }
}

.btn_white {
    border: .5px solid var(--white);
    color: var(--white);

    svg {
        path {
            fill: var(--white);
        }
    }
}


.btn_black {
    border: .5px solid var(--black);
    color: var(--black);

    svg {
        path {
            fill: var(--black);
        }
    }
}

@media screen and (min-width: 768px) {
    .hover_blue {
        &:hover {
            background: #056add;
            border: .5px solid #056add;
            color: var(--white);

            svg {
                path {
                    fill: var(--white);
                }
            }
        }
    }

    .hover_gold {
        &:hover {
            background: var(--gold);
            border: .5px solid var(--gold);
            color: var(--white);

            svg {
                path {
                    fill: var(--white);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .btn {
        font-size: 16px;
        height: 42px;
    }
}