.contact_page {

   .contacts_content_wrapper {
      width: 100%;
      padding: 100px 64px;
      background: linear-gradient(-45deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.229)), url('../../assets/media/images/container_image.jpg');


      .content_inner {
         display: flex;
         max-width: 1440px;
         width: 100%;
         height: 100%;
         margin: 0 auto;
         display: flex;
         align-items: flex-start;

         .nomera {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            flex-direction: column;
            width: 100%;
            padding-right: 30px;

            h2 {
               font-family: var(--f-bold);
               font-size: 28px;
               color: var(--white);
               text-align: left;
               padding-bottom: 25px;

               span {
                  color: var(--gold);
               }
            }

            h3 {
               font-family: var(--f-bold);
               font-size: 20px;
               color: var(--white);
               text-align: center;
               padding: 15px 0 5px 0;
            }

            a {
               font-family: var(--f-regular);
               font-size: 18px;
               color: var(--white);
               text-align: center;

               &:hover {
                  color: var(--gold);
               }
            }
         }

         .map {

            img {
               width: 100%;
               height: auto;
               border: 3px solid white;
               
            }

            .adres_container {
               width: 100%;
               font-family: var(--f-regular);
               font-size: 18px;
               text-align: center;
               padding-top: 10px;

               a {
                  color: var(--white);

                  &:hover {
                     color: var(--gold);
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width:767px) {

   .contact_page {
      .contacts_content_wrapper {

         padding: 25px 15px;

         .content_inner {
            display: flex;
            flex-direction: column;

            .nomera {
               align-items: center;
               padding-bottom: 25px;

               h2 {
                  font-size: 20px;
                  text-align: center;

               }

               h3 {
                  font-size: 20px;
                  color: var(--gold);
               }

               a {
                  padding: 10px 0;
                  font-size: 14px;
               }
            }

            .map {
               .adres_container {
                  font-size: 14px;
               }
            }
         }
      }
   }
}