.contact_page {

   .contacts_content_wrapper {
      width: 100%;
      padding: 100px 64px;
      background: url('../../assets/media/images/container_image.jpg');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      
      .content_inner {
         display: flex;
         max-width: 1440px;
         width: 100%;
         height: 100%;
         margin: 0 auto;
         display: flex;
         align-items: flex-start;
         background: #ffffff11;

         .number_container {
            width: 100%;
            height: 100%;


            .number_text {
               width: 100;
               font-family: var(--f-medium);
               font-size: 20px;
               color: var(--white);
               text-align: center;
               line-height: 1.2;
               padding: 18px 25px;

               .p2 {
                  display: none;
               }

               span {
                  color: var(--gold)
               }
            }

            .numbers {
               width: 100%;
               height: 100%;
               display: grid;
               grid-template-columns: 1fr 1fr;
               justify-items: center;
               gap: 25px;
               padding: 0 20px;
               font-family: var(--f-medium);
               font-size: 18px;
               text-align: left;


               a {
                  width: 300px;
                  height: 80px;
                  color: var(--white);
                  text-decoration: none;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  background: #0000008f;
                  transition: all .3s ease;

                  span {
                     padding: 5px;
                  }

                  p {
                     display: none;
                  }

                  &:hover {
                     padding: 18px;

                     span {
                        display: none;

                     }

                     p {
                        display: block;
                        padding-top: 5px;
                     }
                  }
               }

            }
         }

         .map {


            .map_inner {
               position: relative;
               overflow: hidden;

            }
         }
      }
   }
}

@media screen and (max-width:767px) {

   .contact_page {
      .contacts_content_wrapper {

         padding: 25px 16px;

         .content_inner {
            display: flex;
            flex-direction: column;

            .number_container {

               .number_text {
                  width: 100;
                  font-family: var(--f-medium);
                  font-size: 20px;
                  color: var(--white);
                  text-align: center;
                  line-height: 1.2;
                  padding: 25px 25px;

                  .p1 {
                     display: none;
                  }

                  .p2 {
                     display: block;
                  }

                  span {
                     color: var(--gold)
                  }
               }

               .numbers {
                  display: grid;
                  grid-template-columns: 1fr;
                  justify-items: center;
                  gap: 15px;
                  padding-bottom: 25px;

                  a {
                     width: 350px;
                     height: 80px;
                     color: var(--white);
                     text-decoration: none;
                     display: flex;
                     flex-direction: row;
                     align-items: center;
                     background: #0000008f;
                     transition: all .3s ease;
   
                     span {
                        padding: 25px;
                        img {}
                     }

                     &:hover {
                        span {
                           display: block;
                        }
   
                        p {
                           display: none;
                        }
                     }
                  }
               }

            }

            .map {

               .map_inner {


                  iframe {
                     width: calc(100vw - 32px);

                  }
               }
            }
         }
      }
   }
}