.main {
   width: 100%;
   height: 100%;
   background: url('../../assets/media/images/container_image.jpg');
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   display: flex;
   justify-content: center;

   .product_container {
      width: 100%;
      height: 100%;

      .product_container_inner {
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         position: relative;

         .product_about {
            width: 50%;
            height: 100%;
            color: var(--white);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
            padding: 120px 30px 0 120px;

            h1 {
               font-family: var(--f-bold);
               font-size: 50px;
            }

            span {
               font-family: var(--f-regular);
               font-size: 20px;
               line-height: 1.3;
               text-align: justify;
            }

            .product_flag {
               width: 100%;
               height: 100%;
               display: flex;
               position: relative;


               .plantat {
                  position: absolute;
                  top: 0;
                  left: 0;
                  text-align: center;
                  font-family: var(--f-bold);
                  padding: 50px 40px;
                  color: var(--black);
                  transition: all 0.3s ease;
                  opacity: 0;
                  font-size: 20px;

                  &:hover {
                     background: var(--white);
                     opacity: 1;
                  }
               }

               .country {
                  position: absolute;
                  top: 0;
                  left: 250px;
                  text-align: center;
                  font-family: var(--f-bold);
                  padding: 40px 34px;
                  transition: all 0.3s ease;
                  color: var(--black);
                  opacity: 0;
                  font-size: 20px;

                  &:hover {
                     background: var(--white);
                     opacity: 1;
                  }
               }

               .img_first {
                  position: absolute;
                  left: 0;
               }

               img {
                  position: absolute;
                  left: 250px;
                  width: 192px;
                  height: 120px;
               }

            }
         }

         .product_info {
            width: 50%;
            height: 100%;
            position: relative;

            .slide_wrapper {
               width: 100%;
               height: 100vh;
            }


            .product_elements {
               position: absolute;
               top: 120px;
               left: 35px;
               right: 10%;
               z-index: 2;



               .product_elements_wrapper {
                  display: flex;
                  flex-direction: column;
                  color: var(--white);
                  font-family: var(--f-regular);
                  font-size: 20px;
                  opacity: 1;
                  transition: all 0.3s ease;

                  &:hover {
                     opacity: 1;
                  }

                  .product_type {
                     display: flex;

                     .product_quantity {
                        background: var(--gray);
                        width: 275px;
                        padding: 25px;
                        line-height: 1.3;
                        transition: all 0.3s ease;

                        h1 {
                           font-family: var(--f-bold);
                        }

                        &:hover {
                           background: #8d8d8d;
                        }
                     }

                     .product_color {
                        background: var(--gray);
                        width: 275px;
                        padding: 25px;
                        line-height: 1.3;
                        transition: all 0.3s ease;

                        h1 {
                           font-family: var(--f-bold);
                        }

                        &:hover {
                           background: #8d8d8d;
                        }
                     }
                  }

                  .product_type_2 {
                     display: flex;

                     .product_seasons {
                        background: var(--gray);
                        width: 275px;
                        padding: 25px;
                        line-height: 1.3;
                        transition: all 0.3s ease;

                        h1 {
                           font-family: var(--f-bold);
                        }

                        &:hover {
                           background: #8d8d8d;
                        }
                     }

                     .product_size {
                        background: var(--gray);
                        width: 275px;
                        padding: 25px;
                        line-height: 1.3;
                        transition: all 0.3s ease;

                        h1 {
                           font-family: var(--f-bold);
                        }

                        &:hover {
                           background: #8d8d8d;
                        }
                     }
                  }

                  .product_care {
                     background: var(--gray);
                     width: 550px;
                     padding: 25px;
                     line-height: 1.3;
                     transition: all 0.3s ease;

                     h1 {
                        font-family: var(--f-bold);
                     }

                     span {
                        text-align: justify;
                     }

                     &:hover {
                        background: #8d8d8d;
                     }
                  }
               }

               .product_button {
                  padding-top: 50px;
               }

            }

         }
      }
   }


   @media screen and (max-width: 767px) {

      .product_container {
         width: 100%;
         height: 100%;

         .product_container_inner {
            display: flex;
            flex-direction: column;

            .product_about {
               width: 100%;
               padding: 100px 16px;
               height: 100%;

               .product_flag {

                  .plantat {
                     visibility: hidden;
                  }

                  .country {
                     visibility: hidden;
                  }

                  img {
                     left: 130px;
                     width: 100px;
                     height: 70px;
                  }

               }
            }

            .product_info {
               width: 100%;

               .slide_wrapper {
                  width: 100%;
                  height: 40vh;
               }

               .product_elements {
                  position: relative;
                  top: 0;
                  left: 0;

                  .product_elements_wrapper {

                     .product_type {
                        .product_quantity {
                           width: 100%;
                           padding: 10px;
                        }
                        .product_color {
                           width: 100%;
                           padding: 10px;
                        }
                     }
                     
                     .product_type_2 {

                        .product_seasons {
                           width: 100%;
                           padding: 10px;
                        }

                        .product_size {
                           width: 100%;
                           padding: 10px;
                        }
                     }
                     .product_care {
                        width: 100%;
                        padding: 10px;
                     }
                  }

                  .product_button {
                     text-align: center;
                     padding-bottom: 50px;
                  }

               }
            }
         }
      }
   }
}