.Navbar {
    width: 100%;
    height: 95px;
    padding: 15px 64px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: linear-gradient(180deg, #373835, transparent);

    .inner_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .nav_logo {
            display: flex;

            .logo {
                display: flex;

                a {

                    img {
                        width: 200px;

                    }
                }
            }

            .logo_s {
                display: none;

                a {

                    img {
                        width: 70px;

                    }
                }
            }

        }

        .nav_menu {

            .nav_menu_container {
                display: flex;
                align-items: flex-start;
                flex-direction: row;
                gap: 32px;

                .menu_text_main {
                    position: relative;

                    &:hover {
                        // transform: scale(1.05);

                        .menu_text_main_inner {
                            p {
                                color: var(--gold);
                            }

                            svg {
                                path {
                                    fill: var(--gold);
                                }
                            }
                        }
                    }

                    .menu_text_main_inner {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        transition: all .3s ease;

                        p {
                            font-size: 18px;
                            font-family: var(--f-regular);
                            color: var(--white);
                        }

                        svg {
                            width: 12px;
                        }
                    }

                    .nav_menu_arrow_list {
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                        left: 50%;
                        top: 57px;
                        transform: translateX(-50%);
                        line-height: 2;
                        font-size: 20px;
                        font-family: var(--f-regular);
                        color: var(--white);
                        text-decoration: none;
                        width: max-content;
                        transition: all .3s ease;
                        padding: 10px;
                        background: rgba(55, 56, 53, .95);
                        border-radius: 5px;

                        &::before {
                            content: '';
                            position: absolute;
                            top: -40px;
                            left: 0;
                            width: 100%;
                            height: 40px;
                            background: transparent;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            a {
                                li {
                                    margin: 0;
                                    padding: 0 15px;
                                    font-size: 20px;
                                    font-family: var(--f-regular);
                                    color: var(--white);
                                    transition: all .3s ease;

                                    &:hover {
                                        // transform: scale(1.05);
                                        color: var(--gold);
                                    }
                                }
                            }
                        }


                    }

                    &:hover .nav_menu_arrow_list {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .nav_right {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .phone_number {
                a {
                    font-size: 18px;
                    font-family: var(--f-regular);
                    color: var(--white);

                    &:hover {
                        color: var(--gold);
                    }
                }

            }

            .nav_hamburger {
                display: none;

                .burger-checkbox {
                    position: absolute;
                    visibility: hidden;
                }

                .burger {
                    cursor: pointer;
                    display: block;
                    position: relative;
                    border: none;
                    background: transparent;
                    width: 40px;
                    height: 26px;
                    margin: 30px auto;
                }

                .burger::before,
                .burger::after {
                    content: '';
                    left: 0;
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 3px;
                    border-radius: 3px;
                    background: var(--white);
                }

                .burger::before {
                    top: 0;
                    height: 3px;
                    box-shadow: 0 11px 0 var(--white);
                    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
                }

                .burger::after {
                    bottom: 0;
                    height: 3px;
                    transition: bottom .3s .15s, transform .3s;
                }

                .burger-checkbox:checked+.burger::before {
                    top: 11px;
                    transform: rotate(45deg);
                    box-shadow: 0 6px 0 rgba(101, 101, 101, 0);
                    transition: box-shadow .15s, top .3s, transform .3s .15s;
                }

                .burger-checkbox:checked+.burger::after {
                    bottom: 11px;
                    transform: rotate(-45deg);
                    transition: bottom .3s, transform .3s .15s;
                }


            }
        }
    }

    @media screen and (max-width: 1023px) {
        padding: 15px 40px;

        .inner_nav {
            margin: 0;

            .nav_logo {
                .logo {
                    display: none;
                }

                .logo_s {
                    display: block;

                    a {
                        img {
                            width: 50px;
                        }
                    }
                }

            }

            .nav_menu {
                display: none;
            }

            .nav_right {
                .phone_number {
                    display: none;
                }

                .nav_hamburger {
                    display: block;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        padding: 8px 16px;

        .inner_nav {

            .nav_logo {
                .logo {
                    display: none;
                }
            }

            .nav_menu {
                display: none;
            }

            .nav_right {

                .phone_number {
                    a {
                        padding-right: 20px;
                        font-size: 20px;
                        font-family: var(--f-regular);
                        color: var(--white);
                    }

                }

                .nav_hamburger {
                    display: block;
                }
            }
        }
    }
}