.domestic_page_container {
   width: 100%;
   display: block;
   position: relative;

   .domestic_content_wrapper {
      width: 100%;
      padding: 100px 64px;
      background: url('../../../assets/media/images/container_image.jpg');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      .content_wrapper_inner {
         max-width: 1440px;
         width: 100%;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         gap: 48px;

         .content_title {
            font-family: var(--f-bold);
            font-size: 38px;
            color: var(--white);
            text-align: center;

            span {
               font-family: Arial, Helvetica, sans-serif;
               font-style: italic;
               color: var(--gold);
            }
         }


         .search_bar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .input__wrapper {
               min-width: 265px;

               input {
                  width: 100%;
               }
            }
         }

         .domestic_gallery {
            position: relative;

            .loading_wrapper,
            .no_result_wrapper {
               width: 100%;
               display: flex;
               justify-content: center;
               position: absolute;
               top: 0;
               left: 0;
            }

            .no_result_wrapper {
               h2 {
                  font-family: var(--f-medium);
                  font-size: 28px;
                  color: var(--white);
               }
            }
         }

         .load_more_wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 32px;
         }
      }


   }

   @media screen and (max-width: 1023px) {
      .domestic_content_wrapper {
         padding: 75px 40px;
      }
   }

   @media screen and (max-width: 767px) {
      .domestic_content_wrapper {
         padding: 50px 16px;

         .content_wrapper_inner {
            .content_title {
               font-size: 28px;
            }

            .search_bar {
               .input__wrapper {
                  width: 100%;
               }
            }

            .load_more_wrapper {
               padding-top: 12px;
            }
         }
      }
   }
}