.single-product_container {
   width: 100%;
   min-height: 100vh;
   height: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: flex-start;

   .product_about {
      width: 50%;
      position: sticky;
      bottom: 0;
      align-self: flex-start;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 150px 32px 48px 64px;

      .product_title {
         font-family: var(--f-bold);
         font-size: 50px;
         color: var(--white);
      }

      .product_description {
         font-family: var(--f-regular);
         font-size: 20px;
         line-height: 1.3;
         color: var(--white);
      }

      .product_elements {
         z-index: 2;
         width: 100%;
         display: flex;
         flex-direction: column;
         gap: 48px;

         .product_elements_wrapper {
            display: flex;
            color: var(--white);
            font-family: var(--f-regular);
            font-size: 20px;
            opacity: 1;
            transition: all 0.3s ease;
            flex-wrap: wrap;

            &:hover {
               opacity: 1;
            }

            .product-elements__item {
               background: var(--gray);
               padding: 25px;
               line-height: 1.3;
               transition: all 0.3s ease;
               display: flex;
               flex-direction: column;
               gap: 6px;
               flex: 50%;

               h1 {
                  font-family: var(--f-bold);
               }

               &:hover {
                  background: #8d8d8d;
               }
            }
         }

      }
   }

   .product_info {
      width: 50%;
      position: sticky;
      bottom: 0;
      align-self: center;
      overflow-y: auto;
      overflow-x: hidden;

      .images__wrapper {
         display: flex;
         flex-direction: column;
         gap: 12px;

         img {
            width: 100%;
            object-fit: cover;
         }
      }
   }

   @media screen and (max-width: 1140px) {
      flex-direction: column;

      .product_about {
         position: relative;
         width: 100%;
         padding: 105px 40px 48px 40px;
      }

      .product_info {
         position: relative;
         width: 100%;
      }
   }

   @media screen and (max-width: 768px) {
      .product_about {
         padding: 105px 16px 32px 16px;
         gap: 20px;

         .product_title {
            font-size: 38px;
         }

         .product_description {
            font-size: 16px;
         }

         .product_flag {
            gap: 8px;

            .single-flag__item {
               overflow: hidden;

               p {
                  font-size: 16px;
               }
            }
         }

         .product_elements {
            gap: 32px;

            .product_elements_wrapper {
               .product-elements__item {
                  flex: 100%;
                  padding: 12px 16px;

                  h1 {
                     font-size: 18px;
                  }
                  
                  span {
                     font-size: 16px;
                  }
               }
            }
         }
      }
   }
}

// @media screen and (max-width: 768px) {

//    .product_container {
//       width: 100%;
//       height: 100%;

//       .product_container_inner {
//          display: flex;
//          flex-direction: column;

//          .product_about {
//             width: 100%;
//             padding: 100px 16px;
//             height: 100%;

//             .product_flag {

//                .plantat {
//                   visibility: hidden;
//                }

//                .country {
//                   visibility: hidden;
//                }

//                img {
//                   left: 130px;
//                   width: 100px;
//                   height: 70px;
//                }

//             }
//          }

//          .product_info {
//             width: 100%;

//             .slide_wrapper {
//                width: 100%;
//                height: 40vh;
//             }

//             .product_elements {
//                position: relative;
//                top: 0;
//                left: 0;

//                .product_elements_wrapper {

//                   .product_type {
//                      .product_quantity {
//                         width: 100%;
//                         padding: 10px;
//                      }

//                      .product_color {
//                         width: 100%;
//                         padding: 10px;
//                      }
//                   }

//                   .product_type_2 {

//                      .product_seasons {
//                         width: 100%;
//                         padding: 10px;
//                      }

//                      .product_size {
//                         width: 100%;
//                         padding: 10px;
//                      }
//                   }

//                   .product_care {
//                      width: 100%;
//                      padding: 10px;
//                   }
//                }

//                .product_button {
//                   text-align: center;
//                   padding-bottom: 50px;
//                }

//             }
//          }
//       }
//    }
// }