footer {
    background: #000000;
    position: relative;
    width: 100%;
    border-top: 0.5px solid #292929;

    .footer_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 30px 64px;
        align-items: center;


        .f_cont_logo {
            text-align: center;

            img {
                width: 50px;
                height: auto;
            }
        }

        .footer_container_inner {
            display: grid;
            grid-template-columns: 1fr 2fr 2fr 2fr;
            padding: 30px 0;
            border-bottom: 0.5px solid #292929;
            gap: 20px 48px;


            .f_cont_nav_list {
                display: flex;
                flex-direction: column;


                a {
                    color: var(--white);
                    font-family: var(--f-medium);
                    padding-bottom: 20px;
                    font-size: 20px;
                    text-align: left;

                    &:hover {
                        color: var(--gold);
                        transition: all .3s ease;
                    }
                }

                .nav_list_inner {


                    ul {


                        a {

                            font-size: 14px;
                            color: #ffffff7c;
                            font-family: var(--f-regular);

                            li {
                                padding-bottom: 10px;

                                &:hover {
                                    color: var(--white);
                                    transition: all .3s ease;
                                }
                            }
                        }
                    }
                }
            }

            .contact_us {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .social_media_container {
                    display: flex;
                    justify-content: space-around;


                    a {
                        border-radius: 100px;
                        background: var(--white);
                        height: 40px;
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        transition: all .3s ease;

                        &:hover {
                            transform: scale(1.1);
                            height: 40px;
                            width: 40px;
                            background: var(--gold);
                        }

                        img {
                            width: 30px;
                        }
                    }
                }

                .adres_container {
                    max-width: 204px;

                    .adres {
                        text-decoration: none;
                        color: var(--white);
                        font-size: 14px;
                        font-family: var(--f-regular);

                        &:hover {
                            color: var(--gold);
                        }
                    }
                }
            }

        }

        .rights_text {
            padding: 30px 0 0;
            text-align: center;
            font-family: var(--f-regular);
            font-size: 14px;
            color: var(--white);
            margin: 0;
        }

    }

    @media screen and (max-width: 1023px) {
        .footer_container {
            padding: 28px 40px;

            .footer_container_inner {
                gap: 16px 32px;
                padding-bottom: 28px;
            }

            .rights_text {
                padding: 28px 0 0;
            }
        }
    }

    @media screen and (max-width: 767px) {
        .footer_container {
            padding: 28px 16px;

            .footer_container_inner {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 12px 12px;
                padding-top: 24px;
                width: 100%;


                .logo_1 {
                    align-self: start;
                }

                .f_cont_nav_list {
                    display: flex;
                    justify-content: flex-start;
                }

                .contact_us {

                    .social_media_container {
                        display:grid;
                        grid-template-columns: 1fr 1fr;
                        align-self: self-start;
                        gap: 15px;
                    }

                    .adres_container {
                        max-width: 151px;
                    }
                }
            }
        }
    }
}