footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;

    .footer_container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px;

        p {
            margin: 0;
        }


    }
}