.Navbar-animated__menu {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    opacity: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    z-index: 9;

    .hamburger_menu_list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        z-index: 3;
        padding: 30px 30px;
        width: 100%;
        transition: transform 0.3s ease;
        letter-spacing: 3px;

        a {

            .menu_text_main_inner {
                display: flex;
                align-items: center;
                font-family: var(--f-medium);
                color: var(--white);
                font-size: 18px;
                text-decoration: none;
                padding-bottom: 30px;
            }
        }

        .localization__wrapper {
            display: flex;
            align-items: center;
            gap: 6px;

            span {
                font-family: var(--f-regular);
                color: var(--white);
                font-size: 18px;
                padding-left: 5px;
                cursor: pointer;
            }
        }
    }

    .nav_ham_menu_bg_image {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.6;
        position: fixed;
        object-fit: cover;
        z-index: 1;
    }

    .phone_number {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        z-index: 1;

        a {
            font-size: 18px;
            font-family: var(--f-regular);
            color: var(--white);
        }
    }
}

.Navbar-animated__menu[data-isactive="true"] {
    animation: menuShow .6s ease forwards;
}

.Navbar-animated__menu[data-isactive="false"] {
    animation: menuHide .6s ease forwards;
}

@keyframes menuShow {
    0% {
        top: -100%;
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes menuHide {
    0% {
        top: 0;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: -100%;
        opacity: 0;
    }
}